<h1>A Vinyl Store, For You</h1>
<h2>A place to find and buy vinyl records from your favorite artists.</h2>

	<div class="custom-button" id="tw-button">
	  <a href="https://twitter.com/share?url=http://<%= request.host+request.fullpath %>&text=Check out my personal Vinyl Store via @jrlevine" target="_blank">Share on Twitter</a>
	</div>
	<div class="custom-button" id="fb-button">
	<a href="https://www.facebook.com/dialog/feed?display=page&amp;app_id=149668511862894&amp;link=http://<%= request.host+request.fullpath %>&amp;redirect_uri=http://<%= request.host+request.fullpath %>&amp;name=Check out my personal Vinyl Store&amp;caption=A place to find and buy vinyl records from your favorite artists." class="btn-share-story-link share-story-link" target="_blank">Share on Facebook</a>
	</div>

<table class="table">
<% if @results.first(3) %>		
<tr>
<% @results.first(3).each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
</tr>
<% end %>

<% if @results[3..5] %>		
<tr>
<% @results[3..5].each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
	</tr>
<% end %>


<% if @results[6..8] %>		
	<tr>
<% @results[6..8].each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
	</tr>
<% end %>

<% if @results[9..11] %>
	<tr>
<% @results[9..11].each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
	</tr>
<% end %>

<% if @results[12..14] %>
	<tr>
	<% @results[12..14].each do |album| %>
		<td>
			<a target = "_blank" href="<%= album.values[0][2] %>">
			<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
			<img id="record_img" src="/assets/vinyl-record.png">
			<br>
			<div id="album_name">
			<%= album.keys[0] %>
			</div>
			<div id ="artist_name">
			<%= album.values[0][0] %>	
			</div>
			</a>
		</td>
	<% end %>
	</tr>
	<% end %>

</table>
