<% #!/bin/env ruby %>
<% # encoding: utf-8 %>

<h1>A Vinyl Store, For You</h1>

<table class="table">
<tr>
<% @results_array.first(3).each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
</tr>
<tr>
<% @results_array[3..5].each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
	</tr>
	<tr>
<% @results_array[6..8].each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
	</tr>
	<tr>
<% @results_array[9..11].each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
	</tr>

<% @results_array[12..14].each do |album| %>
	<td>
		<a target = "_blank" href="<%= album.values[0][2] %>">
		<img id="album_img" src="<%= album.values[0][1] %>" width="200px">
		<img id="record_img" src="/assets/vinyl-record.png">
		<br>
		<div id="album_name">
		<%= album.keys[0] %>
		</div>
		<div id ="artist_name">
		<%= album.values[0][0] %>	
		</div>
		</a>
	</td>
<% end %>
	</tr>

</table>
