<!DOCTYPE html>
<html>
<head>
  <title>VinylStore.me — A place to find and buy vynil records from your favorite artists.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2442790-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</head>
<body>

<div class="container-fluid">
	<div id="header">
	 <% if current_user %>
            <p class="navbar-text pull-right">
              Logged in as <%= current_user.name %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/signout" class="navbar-link">Sign out</a>
            </p>
     <% end %>
 	</div>
<%= yield %>

<div id="footer">

    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.vinylstore.me&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=149668511862894" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:20px;" allowTransparency="true"></iframe>
      &nbsp;&nbsp;


      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.vinylstore.me" data-text="I broke up with someone via text message" data-via="jrlevine" data-related="jrlevine" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


      <br>
        <p class="muted credit">Brought to you by <a href="https://twitter.com/jrlevine" target="_blank">Jake Levine</a> / <a href="http://www.twitter.com/jrlevine">@jrlevine </a></p> 
    </div>


</div>
</body>
</html>
