<!DOCTYPE html>
<html>
<head>
  <title>VinylStore.me — A place to find and buy vynil records from your favorite artists.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2442790-14']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</head>
<body>

<div class="container-fluid">
	<div id="header"
	 <% if current_user %>
            <p class="navbar-text pull-right">
              Logged in as <%= current_user.name %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/signout" class="navbar-link">Sign out</a>
            </p>
     <% end %>
 	</div>
<%= yield %>
</div>
</body>
</html>
